* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Arial;
}

.header__contents {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 10px;
    gap: 280px;
}

.miles__web__logo {
    width: 75%;
}

.header__tabs__button__and__contact__container {
    display: flex;
    align-items: center;
}

.header__tabs {
    gap: 25px;
}

.header__tabs__difinition {
    font-size: 14px;
    font-weight: 500;
    color: #494747;
    padding: 0 20px;
    text-decoration: none;
}

.log__in__button {
    border: 0.5px solid black;
    padding: 7px 12px;
    border-radius: 3px;
    background-color: #fff;
    font-weight: 700;
    color: #808080;
}

.header__contacts {
    display: flex;
    align-items: end;
    gap: 10px;
}

.header__contacts__and__text {
    margin-left: 25px;
}

.header__phone__number {
    text-decoration: none;
    font-size: 25px;
}

.header__contacts__text {
    margin-left: 50px;
    color: #808080;
    font-size: large;
}

.header__contacts__actual__text {
    font-weight: normal;
    text-decoration: none;
}

.introduction__section {
    width: 100%;
    height: 100%;
}

.introduction__section__background {
    position: absolute;
    background-color : #1568c9;
    width: 100%;
    height: 70%;
    z-index: -3;
}

.introduction__section__content__container {
    position: relative;
    display: flex;
    color: #fff;
}

.introduction__section__text {
    align-items: center;
    margin: 25px 90px 0 100px;
}

.introduction__section__text__div__1 {
    margin-top: 2px;
    font-size: 18px;
}

.web__hosting__india__text {
    font-stretch: 3px;
    font-weight: 600;
    letter-spacing: 2px;
}

.introduction__section__text__div__2 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.big__intro__text {
    font-size: 45px;
    font-weight: 1000;
    letter-spacing: 0.4px;
    line-height: 58px;
}

.intro__paragraph {
    font-size: 15px;
    font-weight: lighter;
    line-height: 24px;
}

.introduction__section__text__div__4 {
    display: flex;
    margin: 52px 0 0 0;
    gap: 27px;
}

.intro__small__image__and__text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.intro__small__text {
    margin-bottom: 7px;
}

.intro__small__text__actual__1 {
    font-size: 20px;
    font-weight: 600;
}

.intro__small__text__actual__2 {
    font-size: 15px;
    font-weight: 100;
}
/* stopped styling the intro section button */