* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',Arial;
}

.header__contents {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 10px;
    gap: 280px;
}

.miles__web__logo {
    width: 72%;
}

.header__tabs__button__and__contact__container {
    display: flex;
    align-items: center;
}

.header__tabs {
    gap: 25px;
}

.header__tabs__difinition {
    font-size: 14px;
    font-weight: 500;
    color: #494747;
    padding: 0 20px;
    text-decoration: none;
}

.log__in__button {
    border: 0.5px solid black;
    padding: 7px 12px;
    border-radius: 3px;
    background-color: #fff;
    font-weight: 700;
    color: #808080;
}

.header__contacts {
    display: flex;
    align-items: end;
    gap: 10px;
}

.header__contacts__and__text {
    margin-left: 25px;
}

.header__phone__number {
    text-decoration: none;
    font-size: 25px;
}

.header__contacts__text {
    margin-left: 50px;
    color: #808080;
    font-size: large;
}

.header__contacts__actual__text {
    font-weight: normal;
    text-decoration: none;
}

.introduction__section {
    width: 100%;
    height: 100%;
}

.introduction__section__background {
    position: absolute;
    background-color : #1568c9;
    width: 100%;
    height: 73%;
    z-index: -3;
}

.introduction__section__content__container {
    position: relative;
    display: flex;
    color: #fff;
}

.introduction__section__text {
    align-items: center;
    margin: 25px 90px 0 100px;
}

.introduction__section__text__div__1 {
    margin-top: 2px;
    font-size: 18px;
}

.web__hosting__india__text {
    font-stretch: 3px;
    font-weight: 600;
    letter-spacing: 2px;
}

.introduction__section__text__div__2 {
    margin-top: 25px;
    margin-bottom: 20px;
}

.big__intro__text {
    font-size: 45px;
    font-weight: 1000;
    letter-spacing: 0.4px;
    line-height: 58px;
}

.intro__paragraph {
    font-size: 15px;
    font-weight: lighter;
    line-height: 24px;
}

.introduction__section__text__div__4 {
    display: flex;
    margin: 52px 0 0 0;
    gap: 27px;
}

.intro__small__image__and__text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.intro__small__text {
    margin-bottom: 7px;
}

.intro__small__text__actual__1 {
    display: flex;
    font-size: 20px;
    font-weight: 600;
}

.intro__small__text__actual__2 {
    font-size: 15px;
    font-weight: 100;
}

.introduction__section__text__div__5 {
    margin-top: 55px;
}

.introduction__section__button {
    font-family: "Open Sans", Arial;
    font-size: 20px;
    font-weight: 500;
    color: #002d69;
    padding: 18px 60.5px 20px 60.5px;
    background-color: #1dffff;
    border: none;
    border-radius: 10px;
    animation: 1s button;
    animation-delay: 0.5s;
}

.introduction__section__button:hover {
    border: 1px solid #1dffff;
    margin-top: -1px;
    margin-bottom: -1px;
}

.introduction__section__text__div__6 {
    margin-top: 16px;
    margin-left: 12px;
}

.intro__most__small__text {
    font-size: 15px;
    font-weight: 100;
}

.money__back {
    text-decoration: underline dotted 0.5px;
}

.introduction__section__image {
    margin-top: 88px;
    margin-right: 35px;
    width: 70%;
}

.introduction__section__actual__big__image {
    width: 85%;
}

.planning__section {
    margin: 20px 10%;
    display: flex;
    gap: 20px;
}

.hosting__card {
    align-items: center;
    margin: 100px 0 0 0;
    border: none;
    border-radius: 10px;
    width: 370px;
    height: 280px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.hosting__image{
    margin: 15px 0 5px 150px;
}

.hosting__heading {
    margin: 5px 0 3px 115px;
    font-size: 18px;
    padding: 0 2%;
}

#wphostingheading {
    margin: 5px 0 3px 90px;
}

.hosting__paragraph {
    font-size: 15px;
    color: #808080;
    text-align: center;
    margin: 0 0 0 0;
}

.hosting__button {
    margin: 0 0 5px 60px;
    font-size: 17px;
    background-color: #002d69;
    color: #fff;
    font-weight: 300;
    padding: 15px 80px;
    border: none;
    border-radius: 5px;
}

.hosting__button:hover {
    border: 0.5px solid #002d69;
    margin-top: -0.5px;
    margin-bottom: -0.5px;
    margin-right: -0.5px;
}

.plan__choosing__section {
    width: 100%;
    height: 90%;
}

.plan__choosing__heading {
    margin: 110px 0 20px 400px;
    font-size: 27px;
    font-weight: 300;
    color: #494747;
    font-family : "open sans", Arial;
    line-height : 1.5;
}

.plan__choosing__card__container {
    display: flex;
    gap: 10px;
    margin: 30px 0 0 7%;
}

.plan__choosing__card {
    /* position: absolute; */
    margin: 30px 0 0 0;
    height: 300px;
    width: 300px;
    background-image: linear-gradient(#a1dbf4,#FFF);
    border-radius: 13px;
    align-items: center;
}

.plan__choosing__card__details {
    /* position: 'relative'; */
    background-color: #fff;
    margin: 25px 0 0 1px;
    height: 200px;
    width: 297px;
    border-radius: 13px;
    padding: 15px 0 15px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
} 

.plan__choosing__card__heading__ign {
    margin: 20px 0 0px 40%;
}

.plan__choosing__card__heading__el {
    margin: 20px 0 10px 42%;
}

.plan__choosing__card__heading__st {
    margin: 20px 0 10px 40%;
}

.plan__choosing__card__heading__alp {
    margin: 20px 0 10px 30%;
}

.plan__choosing__card__heading__text {
    color: #395571;
    font-size: large;
}

.discount {
    margin: 0 36% 10px 36%;
    border: 1px solid #ffecec;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #ffecec;
    color: #f44860;
}

.plan__price {
    display: flex;
    margin: 10px 0 10px 35%;
    font-size: 30px;
}

.mo {
    margin: 21px 0 0 5px;
    color: #808080;
}

#prm {
    font-weight: 100;
}

.plan__price__detail {
    margin: 5px 0 5px 16%;
    color: #f86d20;
    font-size: medium;
}

.plan__add__button__container {
    margin: 20px 0 20px 25%;
}

.plan__add__button {
    padding: 10px 30px 10px 30px;
    font-size: large;
    background-color: #1568c9;
    color: #FFF;
    border: none;
    border-radius: 10px;
}

.plan__add__button:hover {
    border: 0.5px solid #002d69;
    margin-top: -0.5px;
    margin-bottom: -0.5px;
    margin-right: -0.5px;
}